# Fichiers Python compilés
__pycache__/
*.pyc


# Backups / temporaires
*.backup



# Secrets
.env
env_local/
 web.config.backup
# Logs et temporaires
*.log

# Données lourdes que tu ne veux pas versionner
models_euromillions/
resultats_euromillions/
reflections_euromillions/
encoded_videos/
tirage_videos/
